sandra_env/*
__pycache__/
.coverage
coverage.xml
temp.csv
*.npz

# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/



